.editInfoButton {
  padding: 10px 20px;
  background-color: #ff5e00;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 2px 2px 6px black;
  width: 110px;
  height: 60px;
}

.editInfoButton:hover {
  background-color: #ffbb00;
  box-shadow: 3px 3px 9px black;
}

.backgroundForm {
  min-height: 100vh;
  padding-top: 30px;
}

.wrapperForm {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  padding: 15px;
  border-radius: 25px;
  background-color: rgba(188, 222, 245, 0.6);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.5s ease;
}

.wrapperForm:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.field {
  resize: none;
  outline: none;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid black;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 16px;
}

.upload {
  display: none;
}

.buttonSubmit {
  margin-top: 20px;
  align-self: center;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  background: linear-gradient(to bottom right, red, orange);
  color: white;
  font-weight: 600;
  padding: 8px 16px;
  transition: 0.3s ease-in-out 0s, color 0.3s ease-in-out 0s;
}

.buttonSubmit:hover {
  background: linear-gradient(to bottom right, orange, red);
  color: rgb(255, 192, 192);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.customUploadButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.iconUpload {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.textOfUploader {
  cursor: pointer;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    /* Тіньове накриття */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    /* Перекриття інших елементів */
}

.modalContent {
    position: relative;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 500px;
}