.wrapperForHomePage {
  background-image: url("../../assets/Superheroesbackgroundimg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

@media only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .wrapperForHomePage {
    background-image: url("../../assets/Superheroesbackgroundimgx2.jpg");
  }
}
